AndroidManifest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="manifest" type="manifestType"/>
  <xs:complexType name="uses-sdkType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute ref="and:minSdkVersion" xmlns:and="http://schemas.android.com/apk/res/android"/>
        <xs:attribute ref="and:targetSdkVersion" xmlns:and="http://schemas.android.com/apk/res/android"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="uses-featureType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute ref="and:name" xmlns:and="http://schemas.android.com/apk/res/android"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="uses-permissionType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute ref="and:name" xmlns:and="http://schemas.android.com/apk/res/android"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="permissionType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute ref="and:name" xmlns:and="http://schemas.android.com/apk/res/android"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="actionType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute ref="and:name" xmlns:and="http://schemas.android.com/apk/res/android"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="categoryType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute ref="and:name" xmlns:and="http://schemas.android.com/apk/res/android"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="intent-filterType">
    <xs:sequence>
      <xs:element type="actionType" name="action"/>
      <xs:element type="categoryType" name="category"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="activityType">
    <xs:sequence>
      <xs:element type="intent-filterType" name="intent-filter"/>
    </xs:sequence>
    <xs:attribute ref="and:label" xmlns:and="http://schemas.android.com/apk/res/android"/>
    <xs:attribute ref="and:name" xmlns:and="http://schemas.android.com/apk/res/android"/>
  </xs:complexType>
  <xs:complexType name="applicationType">
    <xs:sequence>
      <xs:element type="activityType" name="activity"/>
    </xs:sequence>
    <xs:attribute ref="and:label" xmlns:and="http://schemas.android.com/apk/res/android"/>
  </xs:complexType>
  <xs:complexType name="manifestType">
    <xs:sequence>
      <xs:element type="uses-sdkType" name="uses-sdk"/>
      <xs:element type="uses-featureType" name="uses-feature"/>
      <xs:element type="uses-permissionType" name="uses-permission" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="permissionType" name="permission"/>
      <xs:element type="applicationType" name="application"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>